

  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>ZipCode</th>
          <th>PrefCode</th>
          <th>Address</th>
          <th>kana   </th>
          <th>introducation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
  </div>
